The statement below is used to print an integer value

In [1]:
print(23)

23

The statement below is to print string values

In [2]:
print('Hello World!')

Hello World!

In [3]:
print("Hello World!")

Hello World!

To print a number and string values together there are various methods. Let's check all of them

In [4]:
print("Number of days in a week",7)

Number of days in a week 7

In [5]:
print("Number of days in a week"+7)

TypeError: can only concatenate str (not "int") to str

In [6]:
print("Number of days in a week"+str(7))

Number of days in a week7

In [10]:
num=7
print(f"Number of days in a week are {num}")

Number of days in a week are 7

In [11]:
num=7
print("Number of days in a week are {}".format(num))

Number of days in a week are 7

In [12]:
num=input("Enter the side")
print(f"Sum of square is {num*num}")

Enter the side 4

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
num = input("Enter the side: ")
print(f"Sum of square is {int(num) * int(num)}")

Enter the side:  4

Sum of square is 16

In [15]:
num=int(input("Enter the side"))
print(f"Sum of square is {num*num}")

Enter the side 2

Sum of square is 4

In [38]:
#String methods
word=input("Enter a word in upper case and use lower function to print it in lower case").lower()
print(word)

Enter a word in upper case and use lower function to print it in lower case HELLO

hello

In [39]:
#String methods
word=input("Enter a word in lower case and use upper function to print it in lower case").upper()
print(word)

Enter a word in lower case and use upper function to print it in lower case school

SCHOOL

In [42]:
#String methods
word=input("Enter a word with spaces in left and right and this function will ignore those spaces").strip()
print(word*2)

Enter a word with spaces in left and right and this function will ignore those spaces    hello

hellohello

In [44]:
#String methods
word=input("Enter a word separated by commas and this function will split it in different parts wherever it recognised comma").split(",")
print(word)
for i in word:
    print(i[0])

Enter a word separated by commas and this function will split it in different parts wherever it recognised comma hello,world,school,bye

['hello', 'world', 'school', 'bye']
h
w
s
b

In [47]:
#String methods
word=input("Enter a word separated by commas and this function will split it in different parts wherever it recognised comma and print the first word").split(",")
print(word)
print(word[0])

Enter a word separated by commas and this function will split it in different parts wherever it recognised comma hello,world,school

['hello', 'world', 'school']
hello

In [49]:
#String methods
word=input("Enter a word separated by commas and print the last word").split(",")
print(word[-1])

Enter a word separated by commas and print the last word hello,school,world

world

In [50]:
#String methods
word=input("Enter a word separated by hash now and print the last word").split("#")
print(word[-1])

Enter a word separated by hash now and print the last word hello#world#school

school

In [51]:
#Random library method 1
import random
num=random.randint(1,10)
print(num)

4

In [55]:
#Random library method 2
from random import randint
num=randint(1,10)  #it includes both 1 and 10
print(num)

10

Edexcel IGCSE 4CP02
June 2019 Q1(c)

# Q01c. 
'''The program should print out a counter and the counter with 7 added to it.
There are three errors in the code.
Amend the code to correct the errors.

count = 0

maxValue = 5

while (count < maxValue)
    print(count, Count + constantValue)
    count = count + 1'''

In [23]:
count = 0
constantValue=7 #Intialise a constant to 7
maxValue = 5

while (count < maxValue): #colon missing
    print(count, count + constantValue)  #change Count to count (vairbale mismatch)
    count = count + 1

0 7
1 8
2 9
3 10
4 11

In [27]:
# Q01f

list_1f =[(2010,8), (4800, 11), (2011,4), (5000,9)]
assistantSalary = 1000.00

for pair in list_1f:
    shopIncome = pair[0]
    assistantSales = pair[1]
    print ("Shop income :", shopIncome, "Assistant sales ", assistantSales)

    if  shopIncome >5000 or assistantSales>=10 :
        print ("Assistant bonus = ", assistantSalary * 0.1)

    elif shopIncome >=2000 and assistantSales>=5:
            print("Assistant bonus = ", assistantSalary * 0.05)

    else:
        print("Assistant bonus = ", 0)

Shop income : 2010 Assistant sales  8
Assistant bonus =  50.0
Shop income : 4800 Assistant sales  11
Assistant bonus =  100.0
Shop income : 2011 Assistant sales  4
Assistant bonus =  0
Shop income : 5000 Assistant sales  9
Assistant bonus =  50.0

In [ ]:
# Q02a

from random import *

#  Initialise variables



#  Print prompt and take guess from user



#  Create WHILE loop to check if guess is correct



#  Report the correct answer to the user and indicate the number of guesses

In [36]:
f1=open("Email.txt","r")
result=f1.read()
f2=open("Error.txt","w")
for i in result:
    if "@" not in i:
        f2.write(i)

f1.close()
f2.close()